<div class="formWrapper">
  <form [formGroup]="form">
    <div class="formInput">
      <label for="userName">User Name:</label>
      <input
        id="userName"
        type="text"
        formControlName="userName"
        (blur)="captureState()"
        placeholder="Enter Username"
      />
    </div>

    <div class="formInput">
      <label for="email">Email:</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        (blur)="captureState()"
        placeholder="Enter Email"
      />
    </div>

    <div class="formInput">
      <label for="phoneNumber">Phone Number:</label>
      <input
        id="phoneNumber"
        type="text"
        formControlName="phoneNumber"
        (blur)="captureState()"
        placeholder="Enter Phone Number"
      />
    </div>

    <div class="toggleInput">
      <input
        type="checkbox"
        formControlName="acceptTerms"
        (blur)="captureState()"
      />
      <label> Accept Terms </label>
    </div>

    <div class="formInput">
      <label for="country">Country:</label>
      <select id="country" formControlName="country" (blur)="captureState()">
        <option value="" disabled selected>Select Country</option>
        <option value="usa">USA</option>
        <option value="canada">Canada</option>
        <option value="uk">UK</option>
      </select>
    </div>

    <div class="actionBtns">
      <button class="undo" (click)="undo()" [disabled]="!canUndo">Undo</button>
      <button class="redo" (click)="redo()" [disabled]="!canRedo">Redo</button>
    </div>
  </form>
</div>
